<!DOCTYPE html>
<html>
  <head>
    <title></title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  <body>
    <header>
        <h3 class="name">Name is Yug Sutariya</h1>
        <h3>Studend Id :- N01580206</h2>
    </header>
    <main>
        {{{body}}}
    </main>
    
    <footer>
        yugsutariya4i@gmail.com
    </footer>
  </body>
</html>